@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1 style="display:inline-block">Destination Airlines </h1> <h2 style="display:inline-block">v1.0</h2>
    <h2><em>Your Are Welcome :)</em></h2>
    <p class="lead"> We’ve assembled some links to get you started:</p>

<p class="lead">Get started !</p>
    <table >


        <tr>
            <th>@Html.ActionLink("Manage location", "Index", "Location")</th>
            <th> | </th>
            <th>@Html.ActionLink("Manage Plane", "Index", "Plane")</th>

        </tr>

        <tr>
            <th>@Html.ActionLink(" Manage Reservation", "Index", "Reservation")</th>
            <th> | </th>
            <th>@Html.ActionLink(" Manage Flight", "Index", "Flight")</th>
        </tr>
    </table>
    <br/><p class="lead">Features</p>
    <div style="float:right;"><p>
    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
    enables a clean separation of concerns and gives you full control over markup
    for enjoyable, agile development.
</p>
<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">More! &raquo;</a></p></div>
</div>

<div class="row">
   
</div>